.attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #F0F0F0 !important;
  }
  
  #calcu {
    margin: 200px 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 3% 3% 30% 3%;
  }
  button{
    border: none;
  }
  
  .convert {
    display: flex;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-right: 200px;
    margin-bottom: 80px;
  }
  
  hr {
    position: relative;
  }
  
  .submit_btn {
    position: absolute;
    top: 374px;
    right: 391px;
    background-color: hsl(259, 100%, 65%);
    padding: 25px;
    border-radius: 100px;
  }
  
  .day,
  .month,
  .year {
    margin: 0 5px;
  }
  
  .day > input,
  .month > input,
  .year > input {
    width: 90%;
    height: 100%;
    padding: 5px;
    font-size: 30px;
    color: hsl(0, 1%, 44%);
    border: 1px solid hsl(0deg 4.02% 78.67%);
    border-radius: 10px;
  }
  
  .convert-result h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 95px;
    margin-right: 50px;
  }
  
  .dash {
    color: hsl(259, 100%, 65%);
  }
  